/* src/components/MediaPlayer/MediaPlayer.css */
.media-player {
  width: 100%;
  height: 100%; /* Đảm bảo chiều cao của MediaPlayer chiếm toàn bộ chiều cao của container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-player video {
  width: 100%;
  height: 100%; /* Đảm bảo video chiếm toàn bộ không gian của MediaPlayer */
  object-fit: cover; /* Đảm bảo video giữ nguyên tỷ lệ và bao phủ toàn bộ không gian của container */
}