/* src/components/SoundList/SoundList.css */
.sound-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tạo 3 cột */
  gap: 20px; /* Khoảng cách giữa các phần tử */
  padding: 20px;
}

.sound-item {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sound-item audio {
  width: 100%;
}

.sound-item h3 {
  margin-top: 10px;
  font-size: 1.2em;
  text-align: center;
}