/* src/components/MediaList/MediaList.css */
.media-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cột cố định */
  gap: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.media-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.media-item:hover {
  transform: translateY(-5px);
}

.media-item video,
.media-item img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.media-item h3 {
  padding: 10px;
  font-size: 16px;
  margin: 0;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.btn {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.play-btn {
  background-color: #f7cc3e;
  color: white;
}

.play-btn:hover {
  background-color: #e4b92c;
  transform: scale(1.05);
}

.play-btn:active {
  transform: scale(1);
}

.extract-btn {
  background-color: #ff3838;
  color: white;
}

.extract-btn:hover {
  background-color: #dd2c2c;
  transform: scale(1.05);
}

.extract-btn:active {
  transform: scale(1);
}